.container {
  min-height: 60px;
}

.sqInput {
  border: 1px solid hsl(var(--input));
  border-radius: calc(var(--radius) - 2px);
  padding: 0.5rem;
  background: hsl(var(--background));
  min-height: 40px;
}

.sqInput:focus-within {
  outline: 2px solid hsl(var(--ring));
  outline-offset: 2px;
}
