.progressBar {
  background-color: rgb(59 130 246);
  height: 0.5rem;
  border-radius: 9999px;
  transition: all 300ms;
  width: 0%;
}

.progressBar10 {
  width: 10%;
}

.progressBar20 {
  width: 20%;
}

.progressBar25 {
  width: 25%;
}

.progressBar30 {
  width: 30%;
}

.progressBar40 {
  width: 40%;
}

.progressBar50 {
  width: 50%;
}

.progressBar60 {
  width: 60%;
}

.progressBar70 {
  width: 70%;
}

.progressBar75 {
  width: 75%;
}

.progressBar80 {
  width: 80%;
}

.progressBar90 {
  width: 90%;
}

.progressBar100 {
  width: 100%;
}
